table,tr,th,td{
    border-radius: 5px;
    border: none;
    border-collapse: separate !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.force-skyblue {
 
  color: white !important;
}
.force-skyblue:hover {
  background-color: #007bff !important;
  color: white !important;
  position:  static !important;
  background: rgb(84, 165, 227) !important;
  background-color: #f0f0f0; /* Replace with your desired color */
}
.pagination-rounded .page-link {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

.pagination-rounded .page-item.active .page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}

@media (max-width: 768px) {

 
}
